<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Coco</string>
	<key>uuid</key>
	<string>60F32114-4528-4947-A8D0-9BD7C4F56822</string>
</dict>
</plist>
